body {
    &.at-contrast {
        #region-main {
            a {
                text-decoration: none;
                &:hover,
                &:focus {
                    * {
                        border-bottom: none;
                        text-decoration: none;
                    }
                    border-bottom: none;
                    text-decoration: none;
                }
            }
        }
        &:not(.at-contrast-default) {
            * {
                border-radius: 0 !important; /* stylelint-disable-line declaration-no-important */
                text-shadow: none !important; /* stylelint-disable-line declaration-no-important */
            }
            .dropdown-divider {
                background-color: $white !important; /* stylelint-disable-line declaration-no-important */
            }
            a {
                text-decoration: none;
            }
        }
        .block-recentlyaccesseditems {
            a {
                &:hover,
                &:focus,
                &:active,
                &.active {
                    :not(.activityiconcontainer) {
                        background: none !important;
                        .administration {
                            background-color: var(--activityadministration) !important;
                        }
                        .assessment {
                            background-color: var(--activityassessment) !important;
                        }
                        .collaboration {
                            background-color: var(--activitycollaboration) !important;
                        }
                        .communication {
                            background-color: var(--activitycommunication) !important;
                        }
                        .content {
                            background-color: var(--activitycontent) !important;
                        }
                        .interface {
                            background-color: var(--activityinterface) !important;
                        }
                    }
                }
            }
        }
        .filepicker a.fp-file * {
            background: none !important;
        }
    }
}