/* Colours */
$black: #000;
$blackish: #111;
$yellow: #cc0;
$yellowbg: #ee6;
$grey: #444; // 444/666?
$white: #f6f6f6;
$whiteish: #eee;
$red: #eeb9b9;
$blue: #b9d9ee;
// $green: #11d711;
$green: #32ff24;

@import "fonts/fonts";
@import "contrast";
@import "contrast-yb";
@import "contrast-by";
@import "contrast-wg";
@import "contrast-br";
@import "contrast-bb";
@import "contrast-bw";
@import "contrast-gb";
@import "contrast-bg";

body {
    &.at-bold {
        font-weight: bold !important; /* stylelint-disable-line declaration-no-important */
    }

    &.at-spacing {
        line-height: 2rem;
    }

    &.at-size-large,
    &.at-size-huge,
    &.at-size-massive,
    &.at-size-gigantic {
        .dropdown-menu {
            font-size: inherit;
        }
        .popover-region-content-container {
            height: calc(100% - 70px);
        }
    }

    &.at-size-large {
        font-size: 120%;
    }
    &.at-size-huge {
        font-size: 140%;
    }
    &.at-size-massive {
        font-size: 160%;
    }
    &.at-size-gigantic {
        font-size: 180%;
    }

    .at-setting {
        // display: block;
        // line-height: 24px !important;
        // padding: 3px 10px;
        // margin-bottom: 5px;
        padding: 3px;
        &.contrast_yb {
            background-color: $black !important; /* stylelint-disable-line declaration-no-important */
            color: $yellow !important; /* stylelint-disable-line declaration-no-important */
        }
        &.contrast_by {
            background-color: $yellowbg !important; /* stylelint-disable-line declaration-no-important */
            color: $blackish !important; /* stylelint-disable-line declaration-no-important */
        }
        &.contrast_wg {
            background-color: $grey !important; /* stylelint-disable-line declaration-no-important */
            color: $whiteish !important; /* stylelint-disable-line declaration-no-important */
        }
        &.contrast_br {
            background-color: $red !important; /* stylelint-disable-line declaration-no-important */
            color: $blackish !important; /* stylelint-disable-line declaration-no-important */
        }
        &.contrast_bb {
            background-color: $blue !important; /* stylelint-disable-line declaration-no-important */
            color: $blackish !important; /* stylelint-disable-line declaration-no-important */
        }
        &.contrast_bw {
            background-color: $white !important; /* stylelint-disable-line declaration-no-important */
            color: $blackish !important; /* stylelint-disable-line declaration-no-important */
        }
        &.contrast_gb {
            background-color: $black !important; /* stylelint-disable-line declaration-no-important */
            color: $green !important; /* stylelint-disable-line declaration-no-important */
        }
        &.contrast_bg {
            background-color: $green !important; /* stylelint-disable-line declaration-no-important */
            color: $black !important; /* stylelint-disable-line declaration-no-important */
        }

        &.fontstyle_modern {
            font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif !important; /* stylelint-disable-line declaration-no-important */
        }
        &.fontstyle_classic {
            font-family: "Palatino", "Times New Roman", serif !important; /* stylelint-disable-line declaration-no-important */
        }
        &.fontstyle_comic {
            font-family: "At Comic", sans-serif !important; /* stylelint-disable-line declaration-no-important */
        }
        &.fontstyle_mono {
            font-family: "AT Mono", "Menlo", "Courier New", monospace !important; /* stylelint-disable-line declaration-no-important */
        }

        &.size_default {
            font-size: 1rem;
        }
        &.size_large {
            font-size: 1.2rem;
        }
        &.size_huge {
            font-size: 1.4rem;
        }
        &.size_massive {
            font-size: 1.6rem;
        }
        &.size_gigantic {
            font-size: 1.8rem;
        }

        i {
            // display: inline-block;
            // width: 24px;
            // text-align: center;
            margin: 0 5px;
        }

    }
}

.card.accessibility-card {
    margin-bottom: 0;
    margin-top: 20px;
}

.accessibility-card h3 {
    margin-bottom: 20px;
}

.accessibility-card .accessibility-group h4 {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    line-height: 24px !important; /* stylelint-disable-line declaration-no-important */
    padding: 3px 10px;
    margin-bottom: 5px;
}

.list-group.accessibility-toggle {
    margin-bottom: 20px;
}


.accessibility-features {
    // margin: 0;
    // padding-left: 0;
    padding: 3px;
}

.accessibility-features li {
    display: block;
    // padding-left: 0;
    list-style: none;
    margin-bottom: 5px;
    a {
        &.btn-link {
            border-width: 0;
        }
    }
}

.currentlySpeakingHighlight {
    background-color: #fec34e !important; /* stylelint-disable-line declaration-no-important */
    color: #000 !important; /* stylelint-disable-line declaration-no-important */
}
