body {
    &.at-contrast {
        &.at-contrast-bg * {
            color: $black !important; /* stylelint-disable-line declaration-no-important */
            background-color: $green !important; /* stylelint-disable-line declaration-no-important */
            border-color: $black !important; /* stylelint-disable-line declaration-no-important */
            a,
            .btn {
                &:hover,
                &:focus,
                &.active {
                    * {
                        background-color: $black !important; /* stylelint-disable-line declaration-no-important */
                        color: $green !important; /* stylelint-disable-line declaration-no-important */
                    }
                    background-color: $black !important; /* stylelint-disable-line declaration-no-important */
                    color: $green !important; /* stylelint-disable-line declaration-no-important */
                }
            }
            .active * {
                background-color: $black !important; /* stylelint-disable-line declaration-no-important */
                color: $green !important; /* stylelint-disable-line declaration-no-important */
            }
            #region-main {
                a {
                    &:not(.dropdown-item) {
                        border-bottom: solid 1px $black;
                    }
                }
            }
            .navbar {
                border-bottom: solid 1px $black;
            }
            #gridshadebox_overlay {
                background-color: $grey !important; /* stylelint-disable-line declaration-no-important */
            }
            #gridshadebox_content {
                .gridshadebox_area * {
                    background-color: $grey !important; /* stylelint-disable-line declaration-no-important */
                }
            }
            .block {
                .minicalendar {
                    td {
                        &.weekend {
                            color: $green !important; /* stylelint-disable-line declaration-no-important */
                        }
                    }
                }
            }
        }
    }
}