@font-face { /* where FontName and fontname represents the name of the font you want to add */
    font-family: 'AT Comic';
    src: url([[font:local_accessibilitytool|comic-r.woff]]) format('woff');
    font-weight: normal;
    font-style: normal;
}
