@font-face { /* where FontName and fontname represents the name of the font you want to add */
    font-family: 'OpenDyslexic';
    src: url([[font:local_accessibilitytool|OpenDyslexic-Regular.woff]]) format('woff');
    font-weight: normal;
    font-style: normal;
}
