{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_accessibilitytool/accessibility

    Displays the list of accessibility options available to the current user.

    Context variables required for this template:
    * none

    Example context (json):
    {
        "contrast" : [
            {
                "key"   : "contrast",
                "class" : "hh-acc-th-de",
                "value" : "clear",
                "icon"  : "fa-low-vision",
                "text"  : "Default Moodle Theme"
            },
            {...}
        ],
        "font" : [
            {
                "key"   : "constrast",
                "class" : "hh-acc-th-de",
                "value" : "clear",
                "icon"  : "fa-low-vision",
                "text"  : "Default Moodle Theme"
            },
            {...}
        ],
        "readability" : [
            {
                "key"   : "constrast",
                "class" : "hh-acc-th-de",
                "value" : "clear",
                "icon"  : "fa-low-vision",
                "text"  : "Default Moodle Theme"
            },
            {...}
        ],
        "size" : [
            {
                "key"   : "constrast",
                "class" : "hh-acc-th-de",
                "value" : "clear",
                "icon"  : "fa-low-vision",
                "text"  : "Default Moodle Theme"
            },
            {...}
        ],
        "readtome" : [
            {
                "key"   : "constrast",
                "class" : "hh-acc-th-de",
                "value" : "clear",
                "icon"  : "fa-low-vision",
                "text"  : "Default Moodle Theme"
            },
            {...}
        ]
    }
}}

<div class="card accessibility-card">
    <div class="card-block">
        <h3>{{#str}}accessibilitytools, local_accessibilitytool{{/str}}</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-4 accessibility-group">
                <h4>{{#str}}colourscheme, local_accessibilitytool{{/str}}</h4>
                <ul class="accessibility-features">
                    {{#contrast}}
                    <li><a class="at-setting {{key}}_{{value}}" href="{{config.wwwroot}}/local/accessibilitytool/manage.php?k={{key}}&v={{value}}">
                        <i class="fa {{icon}}"></i>{{text}} {{#selected}}<i class="fa fa-check-square" alt="{{#str}} selected, form {{/str}}" title="{{#str}} selected, form {{/str}}"></i>{{/selected}}</a>
                    </li>
                    {{/contrast}}
                    {{#stripstyles}}
                    <li><a class="at-setting {{key}}_{{value}}" href="{{config.wwwroot}}/local/accessibilitytool/manage.php?k={{key}}&v={{value}}">
                        <i class="fa {{icon}}"></i>{{text}} {{#selected}}<i class="fa fa-check-square" alt="{{#str}} selected, form {{/str}}" title="{{#str}} selected, form {{/str}}"></i>{{/selected}}</a>
                    </li>
                    {{/stripstyles}}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 accessibility-group">
                <h4>{{#str}}fontstyle, local_accessibilitytool{{/str}}</h4>
                <ul class="accessibility-features">
                    {{#font}}
                    <li><a class="at-setting {{key}}_{{value}}" href="{{config.wwwroot}}/local/accessibilitytool/manage.php?k={{key}}&v={{value}}">
                        <i class="fa {{icon}}"></i>{{text}} {{#selected}}<i class="fa fa-check-square" alt="{{#str}} selected, form {{/str}}" title="{{#str}} selected, form {{/str}}"></i>{{/selected}}</a>
                    </li>
                    {{/font}}
                </ul>

                <h4>{{#str}}readability, local_accessibilitytool{{/str}}</h4>
                <ul class="accessibility-features">
                    {{#readability}}
                    <li><a class="at-setting {{key}}_{{value}}" href="{{config.wwwroot}}/local/accessibilitytool/manage.php?k={{key}}&v={{value}}">
                        <i class="fa {{icon}}"></i>{{text}}{{#selected}}<i class="fa fa-check-square" alt="{{#str}} selected, form {{/str}}" title="{{#str}} selected, form {{/str}}"></i>{{/selected}}</a>
                        {{{help}}}
                    </li>
                    {{/readability}}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 accessibility-group">
                <h4>{{#str}}textsize, local_accessibilitytool{{/str}}</h4>
                <ul class="accessibility-features">
                    {{#size}}
                    <li><a class="at-setting {{key}}_{{value}}" href="{{config.wwwroot}}/local/accessibilitytool/manage.php?k={{key}}&v={{value}}">
                        <i class="fa {{icon}}"></i>{{text}} {{#selected}}<i class="fa fa-check-square" alt="{{#str}} selected, form {{/str}}" title="{{#str}} selected, form {{/str}}"></i>{{/selected}}</a>
                    </li>
                    {{/size}}
                </ul>

                {{#readtome_enabled}}
                <h4>{{#str}}readtome, local_accessibilitytool{{/str}}</h4>
                <ul class="accessibility-features">
                    {{#readtome}}
                    <li><a class="at-setting {{key}}_{{value}}" href="{{config.wwwroot}}/local/accessibilitytool/manage.php?k={{key}}&v={{value}}">
                        <i class="fa {{icon}}"></i>{{text}} {{#selected}}<i class="fa fa-check-square" alt="{{#str}} selected, form {{/str}}" title="{{#str}} selected, form {{/str}}"></i>{{/selected}}</a>
                    </li>
                    {{/readtome}}
                </ul>
                {{/readtome_enabled}}
            </div>
        </div>
    </div>
</div>
<div class="card accessibility-card">
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>Lorem ipsum dolor sit amet, <a href="http://news.bbc.co.uk">consectetur</a> adipiscing elit. Maecenas ut finibus arcu,
        at iaculis lectus. Donec in leo elit. Fusce ultrices ante ut metus tincidunt rutrum
        quis vitae justo. Curabitur cursus porta leo, ac commodo leo semper at. <span style="background-color: #567; color: #765">In sit amet
        purus vitae metus bibendum consectetur quis luctus leo.</span> <span style="font-family: 'Avant Garde', 'Comic Sans MS', 'msbm10'; font-size: 18px;">Fusce nibh quam</span>, luctus
        tincidunt nisl a, porta varius neque. Integer faucibus eros justo, ut tincidunt risus
        malesuada nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend
        ipsum et nunc elementum, ac vulputate leo volutpat. Mauris non finibus dolor.
        Donec vestibulum semper pretium. Aliquam vitae mi nulla. Nunc orci massa, fringilla at
        sem a, varius pharetra libero. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Pellentesque vitae urna ex.</p>
</div>
